{% extends "base.html" %}
{% load static %}
{% block title %}About | {% endblock %}
{% block content %}
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <br>
      <br>
      <br>
      <h2>About Us</h2>
      <p>Welcome to DentalCare, where smiles come to life! At DentalCare, we believe in the power of a healthy and radiant smile to enhance not just your oral
         well-being but your overall confidence and happiness. As your trusted dental partners, our mission is to provide compassionate and comprehensive dental care
          that goes beyond treating teeth – we are dedicated to nurturing a positive and comfortable experience for every patient. Join us on a journey towards optimal oral health and a brighter, more confident smile at DentalCare.

      </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
        <img src={% static "website/assets/img/clinic1.jpeg" %}  class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Meet Our Expert Dental Team</h3>
        <p class="fst-italic">
          At Dentalcare, our dedicated team of dental professionals is committed to providing exceptiona
          l care with a focus on your oral health and overall well-being.
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i>Dr. Kayode Kayode, D.D.S. <br>

            Education and Qualifications:
            Dr. Kayode Kayode earned a Doctor of Dental Surgery (D.D.S.) degree from [Name of Dental School]. With over [X] years of experience in the field, Dr. [Dentist's Name] has
             a deep understanding of various dental procedures and treatments.</li>
          <li><i class="bi bi-check-circle"></i>  Dr. QUREEB Kayode, D.D.S. <br>

            Education and Qualifications:
            Dr. QUREEB Kayode earned a Doctor of Dental Surgery (D.D.S.) degree from [Name of Dental School]. With over [X] years of experience in the field, Dr. [Dentist's Name] has
             a deep understanding of various dental procedures and treatments.</li>
          <li><i class="bi bi-check-circle"></i>Dr. Yetunde Ojo, D.M.D.
            <br>

            Education and Qualifications:
            Dr. Yetunde Ojo holds a Doctor of Dental Medicine (D.M.D.) degree from [Name of Dental School]. With a strong academic background, Dr. [Another Dentist's Name]
             brings a wealth of knowledge to our practice.</li>
        </ul>
        <p>
          At Dentalcare, our entire team is dedicated to your oral health and strives to create a positive
           and comfortable experience during your visits.
           We look forward to serving you with the utmost professionalism and care.
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">

    <div class="row no-gutters">

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="fas fa-user-md"></i>
          <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>

          <p><strong>Doctors</strong> consequuntur quae qui deca rode</p>
          <a href="#">Find out more &raquo;</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="far fa-hospital"></i>
          <span data-purecounter-start="0" data-purecounter-end="26" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong>Departments</strong> adipisci atque cum quia aut numquam delectus</p>
          <a href="#">Find out more &raquo;</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="fas fa-flask"></i>
          <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong>Research Lab</strong> aut commodi quaerat. Aliquam ratione</p>
          <a href="#">Find out more &raquo;</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="fas fa-award"></i>
          <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong>Awards</strong> rerum asperiores dolor molestiae doloribu</p>
          <a href="#">Find out more &raquo;</a>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Counts Section -->

<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
        <div class="icon-box mt-5 mt-lg-0">
          <i class="bx bx-receipt"></i>
          <h4>Est labore ad</h4>
          <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
        </div>
        <div class="icon-box mt-5">
          <i class="bx bx-cube-alt"></i>
          <h4>Harum esse qui</h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
        </div>
        <div class="icon-box mt-5">
          <i class="bx bx-images"></i>
          <h4>Aut occaecati</h4>
          <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
        </div>
        <div class="icon-box mt-5">
          <i class="bx bx-shield"></i>
          <h4>Beatae veritatis</h4>
          <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
        </div>
      </div>
      <div class="image col-lg-6 order-1 order-lg-2" style= 'background-image: url('{% static "website/assets/img/features.jpg" %}' );' data-aos="zoom-in"></div>
    </div>

  </div>
</section><!-- End Features Section -->

{% endblock %}