{% extends "base.html" %}
{% load static %}
{% block title %}Doctors | {% endblock %}
{% block content %}
<!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <br>
      <br>
      <br>
      <h2>Doctors</h2>
      <p>At Dentalcare, we believe in smiles that radiate confidence and oral health that stands the test of time. As the dedicated dental team behind your care, we extend a warm welcome to our digital home.
         Here, you'll discover the essence of our commitment to providing you with the highest quality dental care possible.</p>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src={% static "website/assets/img/doctors/doctors-1.jpg" %} class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Walter White</h4>
            <span>Chief Medical Officer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src={% static "website/assets/img/doctors/doctors-2.jpg" %}  class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Sarah Jhonson</h4>
            <span>Anesthesiologist</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src={% static "website/assets/img/doctors/doctors-3.jpg" %}  class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>William Anderson</h4>
            <span>Cardiology</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="400">
          <div class="member-img">
            <img src={% static "website/assets/img/doctors/doctors-4.jpg" %} class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Amanda Jepson</h4>
            <span>Neurosurgeon</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Doctors Section -->

   <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Gallery</h2>
        <p>Welcome to Our Smile Gallery

          At Dentalcare, we believe that a picture is worth a thousand words, especially when it comes to showcasing the transformative power of a healthy and beautiful smile.
           Our Smile Gallery is a visual celebration of the success stories we've had the privilege of being a part of.</p>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a class="gallery-lightbox" href={% static "website/assets/img/gallery/gallery-1.jpg" %}><img src={% static "website/assets/img/gallery/gallery-1.jpg" %} class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="gallery-lightbox" href={% static "website/assets/img/gallery/gallery-2.jpg" %}><img src={% static "website/assets/img/gallery/gallery-2.jpg" %} class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="gallery-lightbox" href={% static "website/assets/img/gallery/gallery-3.jpg" %}><img src={% static "website/assets/img/gallery/gallery-3.jpg" %} class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="gallery-lightbox" href={% static "website/assets/img/gallery/gallery-4.jpg" %}><img src={% static "website/assets/img/gallery/gallery-4.jpg" %} class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="gallery-lightbox" href={% static "website/assets/img/gallery/gallery-5.jpg" %}><img src={% static "website/assets/img/gallery/gallery-5.jpg" %} class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="gallery-lightbox" href={% static "website/assets/img/gallery/gallery-6.jpg" %}><img src={% static "website/assets/img/gallery/gallery-6.jpg" %} class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="gallery-lightbox" href={% static "website/assets/img/gallery/gallery-7.jpg" %}><img src={% static "website/assets/img/gallery/gallery-7.jpg" %} class="img-fluid" alt=""></a></div>
          <div class="swiper-slide"><a class="gallery-lightbox" href={% static "website/assets/img/gallery/gallery-8.jpg" %}><img src={% static "website/assets/img/gallery/gallery-8.jpg" %} class="img-fluid" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Gallery Section -->
<!-- End Gallery Section -->
{% endblock %}
