{% extends "base.html" %}
{% block content %}
{% block title %}Service | {% endblock %}
<section id="services" class="services services">
    <div class="container" data-aos="fade-up">

     <!-- ======= Services Section ======= -->
    <section id="services" class="services services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
  
          <h2>Services</h2>
          <p>Dental care services encompass a wide range of preventive, diagnostic, and treatment options to ensure the overall health of the oral cavity. Here are common services offered by dental care providers:</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4 class="title"><a href="">Routine Dental Examinations:</a></h4>
            <p class="description">
              Regular check-ups for oral health assessments.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4 class="title"><a href="">Dental Cleanings:</a></h4>
            <p class="description">Professional removal of plaque and tartar to prevent cavities and gum disease.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4 class="title"><a href="">X-rays and Diagnostic Imaging:</a></h4>
            <p class="description">Radiographic examinations for a detailed view of teeth and jaw structures.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="fas fa-dna"></i></div>
            <h4 class="title"><a href="">Preventive Services:</a></h4>
            <p class="description">Application of fluoride treatments to strengthen teeth.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="fas fa-wheelchair"></i></div>
            <h4 class="title"><a href="">Restorative Dentistry</a></h4>
            <p class="description">Fillings for cavities (using materials like composite, amalgam, or porcelain).</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="fas fa-notes-medical"></i></div>
            <h4 class="title"><a href="">Orthodontic Services</a></h4>
            <p class="description">Braces or clear aligners to correct misaligned teeth or bite issues.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
  {% endblock %}